{%extends "base.html"%}
{%block title%}Home Page{%endblock%}
{%set active_page = 'home'%}
{%block content%}
<!-- ========================= hero-2 start ========================= -->
<div class="hero-section hero-style-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 ">
        <div class="hero-content-wrapper">
          <h4 class="wow fadeInUp" data-wow-delay=".2s">Exploring Alternative Energy Sources</h4>
          <br>
          
      </div>
      <br>
      <div class="col-lg-6">
        <div class="hero-image">
          <img src="static\assets\img\solar-wind-hydro.jpg" width="95%" alt="" class="wow fadeInRight" data-wow-delay=".2s">
          <h9>Peachey, C. Solar vs Wind vs Hydro: Which Is the Best Renewable Energy Source? https://www.canhydro.com/discover/solar-vs-wind-vs-hydro/ (accessed 2024-04-10). </h9><br><br><br>

        </div>
      </div><br><br>
      <main>
        <section id="intro">
            <h4>Welcome to our Alternative Energy Website</h4>
            <p>This website aims to educate you about alternative energy sources and their importance in addressing climate change.</p>
        </section><br><br>
        <section id="overview">
            <h5>Overview</h5>
            <p>Fossil fuels and the resulting greenhouse gas emissions have had a significant impact on the current climate challenge. To provide the electricity that we need, alternative energy sources have become more prevalent across the US. However, alternative energy sources may not necessarily be greener.</p>
            <p>Explore the different types of alternative energy and learn about their benefits, limitations, and prevalence in the US.</p>
        </section><br><br>
        <section id="us-energy-consumption">
            <h5>US Energy Consumption</h5>
            <p>Learn about US energy consumption per person and the breakdown of energy consumption by source.</p>
        </section>
        <section id="learn-more">
          <div class="buttons">
            <a href="/map" rel="nofollow" target="blank" class="button button-lg radius-10"> Explore Interactive Map</a><br><br><br>
          </div>
        </div>
        </section>
      </main>
    </div>
  </div>
</div>

<!-- ========================= hero-2 end ========================= -->

{%endblock%}