{%extends "base.html"%}
{%block title%}Interactive Map{%endblock%}
{%set active_page = 'map'%}
{%block content%}
<div class="flourish-embed flourish-map" data-src="visualisation/17603567"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
<div class="hero-section hero-style-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 ">
<h9>Sources:
    <a href="https://www.census.gov/geographies/mapping-files/time-series/geo/cartographic-boundary.html">U.S. Census Bureau 2021 boundaries </a>,
    <a href="https://www.eia.gov/state/seds/ 
    ">EIA - Sate Seds</a>,
    <a href="https://www.statista.com/statistics/1139879/us-biodiesel-consumption-by-state/ 
    ">Statista statistics</a>,
    <a href="https://www.eia.gov/todayinenergy/detail.php?id=44496 
    ">EIA - Today in Energy</a>,
    <a href="https://www.eia.gov/energyexplained/us-energy-facts/state-and-us-territory-data.php 
    ">EIA - Energy Explained</a>,
    <a href="https://www.chooseenergy.com/solar-energy/solar-energy-production-by-state/ 
    ">Choose Energy</a>,
    <a href="https://www.hydrogen.energy.gov/docs/hydrogenprogramlibraries/pdfs/2019-htac-annual-report.pdf?Status=Master 
    ">hydrogenenergy.gov</a>,
    <a href="https://www.energy.gov/eere/fuelcells/articles/us-department-energy-hydrogen-and-fuel-cell-activities-hydrogen-online 
    ">energy.gov - Fuel Cells</a>,
    <a href="https://www.eia.gov/energyexplained/hydrogen/use-of-hydrogen.php 
    ">EIA - Energy Explained Hydrogen</a>
</h9></div></div></div>
{%endblock%}